<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
            Wardrive
        </title>
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

<script src="/static/js/jquery-1.10.2.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}
<link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
<link href="/static/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/main.css" rel="stylesheet">

{% bootstrap_messages %}

        </head>
    <body>
    <div id="wrap">

    {% include 'header.html' %}
      <!-- Begin page content -->  
    {% block content %}
    {% endblock %}

    </div>

    <div id="f">
        <div class="container">
            <div class="row centered">
                <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
        
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- Footer -->
    
    <!-- MODAL FOR CONTACT -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Share your thought</h4>
          </div>
          <div class="modal-body">
                <div class="row centered">
                    <p>Share a thought</p>
           <!--          <p>
                        Somestreet Ave, 987<br/>
                        London, UK.<br/>
                        +44 8948-4343<br/>
                        hi@blacktie.co
                    </p> -->
                    <div class="alert alert-danger" id="errors" style="display:none">
                        
                    </div> 

    <form action="/posts/" method="post" id='share-form'>
        {% csrf_token %}
        <p>Title: <input type="text" name="title" id="share_title"></p>
        <p>Description: <input type="text" name="desc" id="share_desc"></p>
        <!-- <p>Your e-mail (optional): <input type="text" name="email"></p> -->
        <p>Message: <textarea name="message" rows="3" cols="50" id="share_message"></textarea></p>
        <!-- <input type="submit" class="btn btn-info" value="Submit"> -->
    </form>
                    <div id="mapwrap">

                    </div>  
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="share()">Save & Go</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script>
function share(){
    $.post('/posts/', $(document.getElementById('share-form')).serialize()).done(function(data){
        //alert(data['id']);
        if(data == true){
            $('#myModal').modal();
            location.reload();
        }
        else{
            $('#errors').html(data);
            $('#errors').show();
        }
      }).fail(function() {
        alert( "Unable to share.Please try later" );
      });

}
</script>
  <script>

      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      function JSON_stringify(s, emit_unicode)
        {
           var json = JSON.stringify(s);
           return emit_unicode ? json : json.replace(/[\u007f-\uffff]/g,
              function(c) { 
                return '\\u'+('0000'+c.charCodeAt(0).toString(16)).slice(-4);
              }
           );
        }

function uniq(a) {
    var seen = {};
    return a.filter(function(item) {
        return seen.hasOwnProperty(item) ? false : (seen[item] = true);
    });
}

      $( document ).ready(function() {
          console.log( "ready!" );
          initialize();
          // $('#myTable').dataTable();
          var table = $('#myTable').DataTable();
            {% autoescape on %}
                stats = {{ stats| safe }}
            {% endautoescape %}
          // console.log(stats.length);
          results = [];
          for (var i = 0; i < stats.length; i++) {
                k = stats[i]["fields"];
                gps = k["GPS"].split(",")
                gps = [ parseInt(gps[0]).toFixed(2),parseInt(gps[1]).toFixed(2) ]
                console.log(parseInt(gps[0]).toFixed(2),parseInt(gps[1]).toFixed(2));
                result = [k["NETWORK_MCC"],k["NETWORK_MNC"], k["NETWORK_NAME"], k["NETWORK_COUNTRY"], k["CELL_ID"], gps, k["OPENCELLID_LOG"] , k["MCCMNC_LOG"]]
                results.push(result);
                // cell = jQuery.parseJSON((k["OPENCELLID_LOG"]));
                // mcc = jQuery.parseJSON( k["MCCMNC_LOG"] );
                // error = "Match"
                // if(mcc["errors"] == false){
                //     error = mcc["message"];
                // }
                // // console.log();
                // var rowNode = table
                //     .row.add( [ k["NETWORK_MCC"],k["NETWORK_MNC"], k["NETWORK_NAME"], k["NETWORK_COUNTRY"], k["CELL_ID"], k["GPS"], k["OPENCELLID_LOG"] , k["MCCMNC_LOG"]  ] )
                //     .draw()
                //     .node();
                    // mcc["message"]cell["error"]

            }
            res = uniq(results);
            console.log(res);
            console.log(results.length);
            console.log(res.length);
            for (var i = 0; i < res.length; i++) {
                k = res[i]
                var rowNode = table
                    .row.add( k )
                    .draw()
                    .node();
            }

          //           <tr>  
          //   <td>{{stat.NETWORK_MCC}}</td>  
          //   <td>{{stat.NETWORK_MNC}}</td>  
          //   <td>{{stat.NETWORK_NAME}}</td>  
          //   <td>{{stat.NETWORK_COUNTRY}}</td>  
          //   <td>{{stat.CELL_ID}}</td> 
          //   <td>{{stat.GPS}}</td>
          //   <td>{{stat.OPENCELLID_LOG}}</td>
          //   <td>{{stat.MCCMNC_LOG}}</td>
          // </tr> 

        });
    </script>
  </body>
</html>
