    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <img src="http://m1.behance.net/rendition/modules/45695887/disp/f973827120064c52dc304d1c44642a95.jpg" width="50px" style="float:left"> -->
          <a class="navbar-brand" href="/">WARDRIVE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right hide">
            <li {% if request.path == '/' %} class="active"{% endif %}><a href="/">HOME</a></li>
            <!-- <li><a href="about.html">ABOUT</a></li> -->
            <li {% if request.path == '/posts/' %} class="active"{% endif %}><a href="/posts">POSTS</a></li>
             <li {% if request.path == '/wire/' %} class="active"{% endif %}><a href="/wire">WIRE</a></li>
            <!-- <li><a href="works.html">WORKS</a></li> -->
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal">SHARE</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    