{% extends 'base.html' %}

{% block content %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 <script src="https://maps.googleapis.com/maps/api/js"></script>

<div class="container" style="width:70%">

    <div class="page-header">
       <h1>Faulty Towers</h1>
    </div>
    <table id="myTable">  
        <thead>  
          <tr>  
            <th>ENO</th>  
            <th>EMPName</th>  
            <th>Country</th>  
            <th>Salary</th> 
            <th>Salary</th> 
            <th>Salary</th> 
            <th>Salary</th> 
            <th>Salary</th>  
          </tr>  
        </thead>  
        <tbody>  
         {% for stat in stats %}
          <tr>  
            <td>{{stat.NETWORK_MCC}}</td>  
            <td>{{stat.NETWORK_MNC}}</td>  
            <td>{{stat.NETWORK_NAME}}</td>  
            <td>{{stat.NETWORK_COUNTRY}}</td>  
            <td>{{stat.CELL_ID}}</td> 
            <td>{{stat.GPS}}</td>
            <td>{{stat.OPENCELLID_LOG["error"]}}</td>
            <td>{{stat.MCCMNC_LOG["message"]}}</td>
          </tr>  
          {% endfor %}
        </tbody>  
      </table> 
<div id="map-canvas" style="width: 500px;height: 400px;margin:20%"></div>
</div>
{% endblock %}
<style>
  #map-canvas {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }
</style>

